<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog about Mountains</title>
  </head>
  <body>
    <h1>Mountains is a beautiful nature creations</h1>
    <h2>Have your ever get the top?</h2>
    <aside>What is your favorit mountain?
        <ul>
            <li>Everest</li>
            <li>Kilimanjaro</li>
            <li>Rocky Mountains</li>
            <li>Fuji</li>
            <li>Other one</li>

        </ul>
    </aside>
    <article>
        <time>published: 07.10.2023, 16:20</time>
        <h2><a href="">The beauty of a Mountain Kilimanjaro</a></h2>
        <p>It is the highest mountain in Africa and the highest single free-standing mountain above sea level in the world: 5,895 m (19,341 ft) above sea level and about 4,900 m (16,100 ft) above its plateau base. It is the highest volcano in Africa and the Eastern Hemisphere.</p>
    </article>

    <article>
        <time>published: 06.10.2023, 07:20</time>
        <h2><a href="">Everest. Dream or Reality </a></h2>
        <p>To stand on top of the world remains one of the most attractive goals to achieve for a mountaineer.
            Fascination Everest: Are you looking for the ultimate challenge? With experienced partners and flexible climbs at fair conditions, SummitClimb.de is the best expert operator for Mount Everest.
        </p>
    </article>
  </body>
</html>